*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(225, 225, 236);
}
.store{
    padding: 20px;
    background: blue;
    cursor: pointer;
}
.Room{
    width: 100%;
    height: 10rm;
    display: flex;
    justify-content: space-around;
}
